<!--

-->
{% extends "nav.html" %}

{% block header %}
    {% block title %}
        Update Pet Profile
    {% endblock %}
    {% block html_head %}
        <!-- Add CSS custom to this template here... -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="./static/css/form.css" >
    {% endblock %}
    <!-- Add additional custom headers here... -->
    <div>
        <header class=" bg-primary text-white text-center" style="padding-top:120px;font-size: 12px;height:175px" overflow="auto">
            <div class="container">
                <h1 style="font-size: 30px;">Add Pet Profile</h1>
            </div>
        </header>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div id="form-main">
        <div id="form-div">
            <form class="montform" id="reused_form" enctype=&quot;multipart/form-data&quot; >
                <p class="name">
                    <input name="name" type="text" class="feedback-input" required placeholder="Name" id="name" />
                </p>

                <p class="type">
                    <select required class="form-control">
                        <option value="" disabled selected>Type</option>
                        <option value="Cat">Cat</option>
                        <option value="Dog">Dog</option>
                        <option value="Other">Other</option>
                    </select>
                </p>
                <p class="breed">
                    <select required class="form-control">
                        <option value="" disabled selected>Breed</option>
                        <option value="American Shorthair">American Shorthair</option>
                        <option value="Siamese">Siamese</option>
                        <option value="German Shepherd">German Shepherd</option>
                        <option value="Golden Retriever">Golden Retriever</option>
                        <option value="Australian Cattle Dog">Australian Cattle Dog</option>
                    </select>
                </p>
                <p class="age">
                    <select id="age" required class="form-control">
                        <option value="" disabled selected>Age</option>
                        <option value="Adult">Adult</option>
                        <option value="Baby">Baby</option>
                        <option value="Senior">Senior</option>
                        <option value="Young">Young</option>
                    </select>
                </p>
                <p class="gender">
                    <select id="gender" required class="form-control">
                        <option value=""disabled selected>Gender</option>
                        <option value="Female">Female</option>
                        <option value="13">Male</option>
                    </select>
                </p>
                <p class="status">
                    <textarea id="status" required class="form-control" type="text" placeholder="Status (news/PR blurb)"></textarea>
                </p>
                <p class="description">
                    <textarea id="description" required class="form-control" placeholder="Description"></textarea>
                </p>
                <p class="location">
                    <input id="locations" required class="form-control" type="text" placeholder="Location (ex: Los Angeles, CA)">
                </p>
                <p class="availability">
                    <select id="availability" required class="form-control">
                        <option value="" disabled selected>Availability</option>
                        <option value="Adopted">Adopted</option>
                        <option value="Available">Available</option>
                        <option value="Pending">Pending</option>
                        <option value="Not Available">Not Available</option>
                    </select>
                </p>
                <p class="disposition">
                    <input type="checkbox"><label>Good with other animals.<br></label>
                    <input type="checkbox"><label>Good with children.<br></label>
                    <input type="checkbox"><label>Animal must be leashed at all times.<br></label>
                    <input type="checkbox"><label>Suitable for apartments.<br></label>
            </input>
                </p>
                <p class="file">
                    <p>Choose a profile image.</p>
                    <input name="image" type="file" id="file" class="feedback-input">
                </p>
                <div class="submit">
                    <button type="submit" class="button-blue">SUBMIT</button>
                    <div class="ease"></div>
                </div>
            </form>
            <div id="error_message" style="width:100%; height:100%; display:none; ">
                <h4>
                    Error
                </h4>
                Sorry there was an error sending your form. 
            </div>
            <div id="success_message" style="width:100%; height:100%; display:none; "> <h2>Success! Your Message was Sent Successfully.</h2> </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <!-- Add Javascript custom to this tempate here... -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="./static/js/form.js"></script>
    <!-- Bootstrap Studio Script Files -->
    <!--<script type="text/Javascript" src="../static/js/jquery.min.js"></script> GAB added this; otherwised jQuery functions fail-->
    <!--<script type="text/Javascript" src="../static/js/Application-Form.js"></script>-->
{% endblock %}