<!--
Referenced:
https://www.techiedelight.com/dynamically-create-drop-down-list-javascript/#:~:text=To%20add%20a%20drop%2Ddown,appendChild()%20method%20or%20jQuery's%20.
https://www.w3schools.com/jsref/event_onchange.asp
-->
{% extends "nav.html" %}

{% block header %}
    {% block title %}
    {% if pet and pet.key.id %}
        Update Profile
    {% else %}
        Add Profile
    {% endif %}
    {% endblock %}
    {% block html_head %}
        <!-- Add CSS custom to this tempate here... -->
        <style>
            ::placeholder { color: Gray }
            select:invalid { color: Gray; }
            .hiddenOptions > select
            {
                display: none;
            }

            .hiddenOptions > select.active
            {
                display: inline-block;
            }
        </style>
    {% endblock %}
    <!-- Add additional custom headers here... -->
    <div>
        <header class="bg-primary text-white text-center" style="padding-top:120px;font-size: 12px;height:175px" overflow="auto">
            <div class="container">
                <h1 style="font-size: 30px;">
                    {% if pet and pet.key.id %}
                        Update {{pet.name}}'s Profile
                    {% else %}
                        Add Pet Profile
                    {% endif %}
                </h1>
            </div>
        </header>
    </div>
{% endblock %}

{% block content %}
<div class="bg-primary container-fluid" overflow="auto" style="padding-top: 14px;padding-bottom: 14px;">
    <div class="card" id="TableSorterCard">
        <div class="row">
            <div class="col-12">
                <section style="padding-top: 30px;">
                    <div class="container-fluid">
                        <form id="application-form" enctype="multipart/form-data">
                            <input type="hidden" name="pet_key" value="{%- if pet and pet.key.id -%} {{pet.key.id}} {%- endif -%}" id="pet_key" />
                            <input type="hidden" name="profile_image_name" value="{%- if pet and pet.profile_image_name -%} {{pet.profile_image_name}} {%- endif -%}" id="profile_image_name" />
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col"><input class="form-control" type="text" required="" value="{%- if pet and pet.name -%} {{pet.name}} {%- endif -%}" name="name" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <select required class="form-control" name="type" id="type" onchange="updateBreeds()">
                                            <option value="" disabled selected>Type</option>
                                            <option value="Cat" {% if pet and pet.type=='Cat' %} selected="selected" {% endif %}>Cat</option>
                                            <option value="Dog" {% if pet and pet.type=='Dog' %} selected="selected" {% endif %}>Dog</option>
                                            <option value="Other" {% if pet and pet.type=='Other' %} selected="selected" {% endif %}>Other</option>
                                        </select></div>
                                    <div class="col">
                                        <select required class="form-control" name="breed" id="breed">
                                            <option value="" disabled selected>Breed</option>
                                            {% if pet and breeds %}
                                                {% for breed in breeds%}
                                                    {% if breed.type == pet.type %}
                                                        <option value='{{breed.name}}' {% if pet.breed==breed.name %} selected="selected" {% endif %}>{{breed.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% for breed in breeds%}
                                                    <option value='{{breed.name}}'>{{breed.name}}</option>
                                                {% endfor %}
                                            {% endif %}                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <select id="age" required class="form-control" name="age">
                                            <option value="" disabled selected>Age</option>
                                            <option value="Adult" {% if pet and pet.age=='Adult' %} selected="selected" {% endif %}>Adult</option>
                                            <option value="Baby" {% if pet and pet.age=='Baby' %} selected="selected" {% endif %}>Baby</option>
                                            <option value="Senior" {% if pet and pet.age=='Senior' %} selected="selected" {% endif %}>Senior</option>
                                            <option value="Young" {% if pet and pet.age=='Young' %} selected="selected" {% endif %}>Young</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select id="gender" required class="form-control" name="gender">
                                            <option value=""disabled selected>Gender</option>
                                            <option value="Female" {% if pet and pet.gender=='Female' %} selected="selected" {% endif %}>Female</option>
                                            <option value="Male" {% if pet and pet.gender=='Male' %} selected="selected" {% endif %}>Male</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="status" required class="form-control" type="text" value="{%- if pet and pet.status -%} {{pet.status}} {%- endif -%}" placeholder="Status (news/PR blurb)" name="status">
                            </div>
                            <div class="form-group">
                                <textarea id="description" required class="form-control" placeholder="Description" name="description">{% if pet and pet.description %}{{pet.description}}{% endif %}</textarea>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <input id="locations" name="location" required class="form-control" value="{%- if pet and pet.location -%} {{pet.location}} {%- endif -%}" type="text" placeholder="Location (ex: Los Angeles, CA)">
                                    </div>
                                    <div class="col">
                                        <select id="availability" required class="form-control" name="availability">
                                            <option value="" disabled selected>Availability</option>
                                            <option value="Adopted" {% if pet and pet.availability=='Adopted' %} selected="selected" {% endif %}>Adopted</option>
                                            <option value="Available" {% if pet and pet.availability=='Available' %} selected="selected" {% endif %}>Available</option>
                                            <option value="Pending" {% if pet and pet.availability=='Pending' %} selected="selected" {% endif %}>Pending</option>
                                            <option value="Not Available" {% if pet and pet.availability=='Not Available' %} selected="selected" {% endif %}>Not Available</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="disposition">
                                <label>Select one or more properties:</label>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Good with other animals" 
                                            {% if pet and pet.properties.find('Good with other animals') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-1">
                                                <label class="form-check-label" for="formCheck-1">Good with other animals<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Good with children" 
                                            {% if pet and pet.properties.find('Good with children') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-2">
                                            <label class="form-check-label" for="formCheck-2" style="width: 100%;">Good with children<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Single pet household only" 
                                            {% if pet and pet.properties.find('Single pet household only') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-4">
                                            <label class="form-check-label" for="formCheck-4">Single pet household only<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Must be leashed at all times" 
                                            {% if pet and pet.properties.find('Must be leashed at all times') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-3">
                                            <label class="form-check-label" for="formCheck-3">Must be leashed at all times<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Suitable for apartments" 
                                            {% if pet and pet.properties.find('Suitable for apartments') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-4">
                                            <label class="form-check-label" for="formCheck-4">Suitable for apartments<br></label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Spay/Neutered" 
                                            {% if pet and pet.properties.find('Spayed/Neutered') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-4">
                                            <label class="form-check-label" for="formCheck-4">Spay/Neutered<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Vaccinations up to date" 
                                            {% if pet and pet.properties.find('Vaccinations up to date') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-4">
                                            <label class="form-check-label" for="formCheck-4">Vaccinations up to date.<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="Special needs" 
                                            {% if pet and pet.properties.find('Special needs') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-4">
                                            <label class="form-check-label" for="formCheck-4">Special Needs<br></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" name="properties[]" value="None" 
                                            {% if pet and pet.properties.find('None') != -1 %} checked="checked" {% endif %} type="checkbox" id="formCheck-4">
                                            <label class="form-check-label" for="formCheck-4">None<br></label>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                            {% if pet and pet.key.id %}
                            <div class="form-group" id="adoptionDetails" name="adoptionDetails">
                                <div class="form-row">
                                    <div class="col">
                                        <span class="my-label">Adoption Details:</span>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <input id="adoption_date" name="adoption_date" class="form-control" style="padding-right:8px;" type="date" 
                                        {{'required' if pet.availability == "Adopted"}} value='{{pet.adoption_date}}' placeholder="Date (mm/dd/yyyy)">
                                    </div>
                                    <div class="col">
                                        <input id="adopted_by" name="adopted_by" class="form-control" style="padding-right:8px;" type="text" 
                                        {{'required' if pet.availability == "Adopted"}} value='{{pet.adopted_by}}' placeholder="Adopted By (ex: John Smith)">
                                    </div>
                                    <!-- 
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="picked_up" id="picked_up"
                                                {% if pet and pet.picked_up=="on" %} checked="checked" {% endif %}>
                                                <label class="form-check-label" for="formCheck-4">Picked Up<br></label>
                                        </div>
                                    </div>
                                -->
                                </div>
                                <div class="form-row">
                                    <div class="col" style="float:left">
                                        <span style="padding-right: 10px;" class="my-label">Picked Up:</span>
                                        <input style="display:inline-block;" type="radio" id="yes" name="picked_up" value="yes"
                                        {% if pet and pet.picked_up is true %} checked="checked" {% endif %}>
                                        <label style="padding-right: 10px;" for="yes">Yes</label>
                                        <input style="display:inline-block;" type="radio" id="no" name="picked_up" value="no"
                                        {% if pet and pet.picked_up is false %} checked="checked" {% endif %}>
                                        <label style="padding-right: 10px;" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="file">
                                <p class="font-italic text-dark text-center">Choose a profile image. The image uploaded will be rendered below.</p>
                                <!-- Upload image input-->
                                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm ">
                                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                                </div>
                                <!-- Uploaded image area-->
                                <div class="image-area mt-4 text-dark">
                                    <img id="imageResult" src="{% if pet and pet.profile_image_name %} {{public_url}}{{pet.profile_image_name}} {% endif %}" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"  width=200>
                                </div>
                                <div class="col d-none">
                                    <input id="urllink" name="url" type="url" class="form-control" readonly/>
                                </div>
                            </div>
                    </div>
                    <div class="form-group justify-content-center d-flex">
                        <div id="new-profile-submit-btn" style="padding-top:15px; padding-right:25px;">
                            <div class="form-row" >
                                <button class="btn btn-primary btn-dark m-0 rounded-pill px-4" type="button" id="save_profile" style="min-width: 150px;">Submit</button>
                            </div>
                        </div>
                        <div id="new-profile-cancel-btn" style="padding-top:15px;">
                            <div class="form-row" >
                                <button class="btn btn-danger btn-dark m-0 rounded-pill px-4" type="button" style="min-width: 150px;" onclick="window.location.href='/admin_profiles';">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h3 id="fail" class="text-center text-danger d-none"><br>Form not Submitted&nbsp;<a href="contact.html">Try Again</a><br><br></h3>
                <h3 id="success-1" class="text-center text-success d-none"><br>Form Submitted Successfully&nbsp;<a href="contact.html">Send Another Response</a><br><br></h3>
            </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <!-- Add Javascript custom to this tempate here... -->
    <script src="../static/js/Application-Form.js?v=1"></script>
    <script>
        var allBreeds = {{ breeds|tojson }}
        function updateBreeds() {
            var type = document.getElementById("type").value;
            var breed = document.getElementById("breed");
            breed.options.length = 1;
            for (var i = 0; i<allBreeds.length; i++){
                if (allBreeds[i].type == type){
                    var option = document.createElement("option");
                    option.value = allBreeds[i].name;
                    option.name = allBreeds[i].name;
                    option.id = allBreeds[i].name;
                    option.innerHTML = allBreeds[i].name;
                    breed.appendChild(option);
                }
            }
        }
    </script>
{% endblock %}
