{% extends "nav.html" %}


{% block header %}
    {% block title %} Available Pets {% endblock %}
    {% block html_head %}
        <!-- Add CSS custom to this tempate here... -->
        <!-- J add -->
        <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="static/css/styles.min.css">
    {% endblock %}

    <!-- Add additional custom headers here... -->
    <header class="text-center" style="padding-top:120px;font-size: 14px;height:175px" overflow="auto">
        <div class="container">
            <h1 style="font-size: 30px;">Pets Available for Adoption</h1>
        </div>
    </header>
{% endblock %}

{% block content %}

    <!-- J add -->
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <!-- <div class="block-heading">
                <h2 class="text-info">Dogs Available for Adoption</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div> -->
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="d-none d-md-block">
                            <div class="filters">

                                <!-- <div class="filter-item">
                                    <h3>Type</h3>
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Any</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#" target="_blank">Cats<br></a><a class="dropdown-item" href="#">Dogs</a><a class="dropdown-item" href="#">Other Pets</a></div>
                                    </div>
                                </div> -->

                                <!-- Keep for reference to add additional search to route 02/23/21 -->
                                <!-- <div class="filter-item">
                                    <h3>Breed</h3>
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Any</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#" target="_blank">Affenpinscher<br></a><a class="dropdown-item" href="#">Alaskan Malamute</a><a class="dropdown-item" href="#">American Bulldog</a></div>
                                    </div>
                                </div>
                                <div class="filter-item">
                                    <h3>Good With</h3>
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Any</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#" target="_blank">Kids<br></a><a class="dropdown-item" href="#">Other Dogs</a><a class="dropdown-item" href="#">Cats</a></div>
                                    </div>
                                </div>
                                <div class="filter-item">
                                    <h3><strong>Date Available for Adoption</strong></h3>
                                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Any</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#" target="_blank">Affenpinscher<br></a><a class="dropdown-item" href="#">Alaskan Malamute</a><a class="dropdown-item" href="#">American Bulldog</a></div>
                                    </div>
                                </div> -->

                                <H2>New</H2>
                                <div class="filter-item">
                                    <H1>Search</H1><br>
                                    <h3>Type</h3>
                                    <select class="form-control" id='species' aria-label="Default select example" >
                                        <!-- <select required class="form-control" name="type" id="type" onchange="updateBreeds()"> -->
                                        <option value="Any">Any</option>
                                        <option value="Dog">Dog</option>
                                        <option value="Cat">Cat</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>

                                <div class="filter-item">
                                    <h3>Breed</h3>
                                    <select class="form-control" id='breed' aria-label="Default select example" >
                                        <option value="Any">Any</option>
                                            {% for breed in breeds%}
                                                <option value='{{breed.name}}'>{{breed.name}}</option>
                                            {% endfor %}
                                    </select><br><br>
                                    <button id="filter_button" class = 'btn btn-primary'>Search</button>
                                </div>

                                <!-- <select required class="form-control" name="breed" id="breed">
                                    <option value="" disabled selected>Breed</option>
                                    {% if pet and breeds %}
                                        {% for breed in breeds%}
                                            {% if breed.type == pet.type %}
                                                <option value='{{breed.name}}' {% if pet.breed==breed.name %} selected="selected" {% endif %}>{{breed.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for breed in breeds%}
                                            <option value='{{breed.name}}'>{{breed.name}}</option>
                                        {% endfor %}
                                    {% endif %}                                            
                                </select> -->


                            </div>
                        </div>
                    </div>

                    <!-- Start of profile cards row -->
                    <div class="col-md-9">
                        <div class="products">
                            <div class="row no-gutters">
                                <!-- Start of card -->
                                <!-- fix css class names from template, specifically price and product-name -->
                                {% for profile in pets %}
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <!-- How to view image stored in Google Cloud Storage bucket https://storage.googleapis.com/BUCKET_NAME/OBJECT_NAME -->
                                            <div class="image"><a href="pet_page/{{ profile.key.id }}"><img class="img-fluid d-block mx-auto" src= "{{ public_url ~ profile.profile_image_name }}" ></a></div>
                                            <div class="product-name"><a href="pet_page/{{ profile.key.id }}">{{profile.name}}</a></div>
                                            <div class="about">
                                                <!-- CSS needs debug for text-align: left should be center-->
                                                <div class="product-name">{{ profile.age }}</div>
                                                <div class="product-name">{{ profile.breed }}</div>
                                            </div>
                                            <div class="about">
                                                <!-- CSS needs debug for text-align: left should be center-->
                                                <div class="product-name">{{ profile.location }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <!-- End of product cards -->
                            <nav>
                                {{ pagination.links }}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <!-- Add Javascript custom to this tempate here... -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#filter_button").click(function () {
                sessionStorage.setItem('species', $('#species').val()) 
                sessionStorage.setItem('breed', $('#breed').val()) 
                species_val = $('#species').val()
                breed_val = $('#breed').val()
                the_message =JSON.stringify({breed: breed_val, species: species_val})
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/adopt_profiles",
                    data: the_message}).done(function (data) {
                        window.location = '/adopt_profiles'
                        console.log(data)  // display the returned data in the console.
                        $('#species').val(sessionStorage.getItem('species'))
                        $('#breed').val(sessionStorage.getItem('breed'))
                })
            });
            window.onload = function() {
                $('#species').val(sessionStorage.getItem('species'))
                $('#breed').val(sessionStorage.getItem('breed'))
            }
        });  
    </script>

<!-- <script src="../static/js/Application-Form.js?v=1"></script>
<script>
    var allBreeds = {{ breeds|tojson }}
    function updateBreeds() {
        var type = document.getElementById("type").value;
        var breed = document.getElementById("breed");
        breed.options.length = 1;
        for (var i = 0; i<allBreeds.length; i++){
            if (allBreeds[i].type == type){
                var option = document.createElement("option");
                option.value = allBreeds[i].name;
                option.name = allBreeds[i].name;
                option.id = allBreeds[i].name;
                option.innerHTML = allBreeds[i].name;
                breed.appendChild(option);
            }
        }
    }
</script> -->
{% endblock %}


