{% extends "nav.html" %}


{% block header %}
    {% block title %} Available Pets {% endblock %}
    {% block html_head %}
        <!-- Add CSS custom to this tempate here... -->
        <!-- J add -->
        <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="static/css/styles.min.css">
    {% endblock %}

    <!-- Add additional custom headers here... -->
    <header class="text-center" style="padding-top:120px;font-size: 14px;height:175px" overflow="auto">
        <div class="container">
            <h1 style="font-size: 30px;">Pets Available for Adoption</h1>
        </div>
    </header>
{% endblock %}

{% block content %}

    <!-- J add -->
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="d-none d-md-block">
                            <div class="filters">

                                <!-- Filter title: Qualities, Availability, Location, Gender, Age -->
                                <!-- Entity names: properties, availability, location, gender, age -->
                                <h2>Search</h2>
                                <br>

                                <div class="filter-item">
                                    <h3>Type</h3>
                                    <select required class="form-control" name="type" id="species" onchange="updateBreeds()">
                                        <option value="Any">Any</option>
                                        <option value="Cat">Cat</option>
                                        <option value="Dog">Dog</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>

                                <div class="filter-item">
                                    <h3>Breed</h3>
                                    <select class="form-control" id='breed' >
                                        <option value="Any">Any</option>
                                            {% for breed in breeds%}
                                                <option value='{{breed.name}}'>{{breed.name}}</option>
                                            {% endfor %}
                                    </select>
                                </div>

                                <!-- disposition and date available -->

                                <div class="filter-item">
                                    <h3>Disposition</h3>
                                    <select class="form-control" id='disposition' >
                                        <option value="Any">Any</option>
                                        <option value="Good with other animals">Good with other animals</option>
                                        <option value="Good with children">Good with children</option>
                                        <option value="Single pet household only">Single pet household only</option>
                                        <option value="Must be leashed at all times">Must be leashed at all times</option>
                                        <option value="Suitable for apartments">Suitable for apartments</option>
                                        <option value="Spay/Neutered">Spay/Neutered</option>
                                        <option value="Vaccinations up to date">Vaccinations up to date</option>
                                        <option value="Special Needs">Special Needs</option>
                                    </select>
                                </div>

                                <div class="filter-item">
                                    <h3>Date Available</h3>
                                    <select class="form-control" id='date_available' >
                                        <option value="Any">Any</option>
                                            {% for breed in breeds%}
                                                <option value='{{breed.name}}'>{{breed.name}}</option>
                                            {% endfor %}
                                    </select>
                                </div>

                                <br>
                                <button id="filter_button" class = 'btn btn-primary'>Search</button>

                            </div>
                            <br>

                        </div>
                    </div>

                    <!-- Start of profile cards row -->
                    <div class="col-md-9">
                        <div class="products">
                            <div class="row no-gutters">
                                <!-- Start of card -->
                                <!-- fix css class names from template, specifically price and product-name -->
                                {% for profile in pets %}
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <!-- How to view image stored in Google Cloud Storage bucket https://storage.googleapis.com/BUCKET_NAME/OBJECT_NAME -->
                                            <div class="image">
                                                <a href="pet_page/{{ profile.key.id }}"><img class="img-fluid d-block mx-auto" style="width: 100%;" 
                                                    src= "{{ public_url ~ profile.profile_image_name }}" ></a>
                                            </div>
                                            <div class="product-name"><a href="pet_page/{{ profile.key.id }}">{{profile.name}}</a></div>
                                            <div class="about">
                                                <!-- CSS needs debug for text-align: left should be center-->
                                                <div class="product-name">{{ profile.age }}</div>
                                                <div class="product-name">{{ profile.breed }}</div>
                                            </div>
                                            <div class="about">
                                                <!-- CSS needs debug for text-align: left should be center-->
                                                <div class="product-name">{{ profile.location }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <!-- End of product cards -->
                            <nav>
                                {{ pagination.links }}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <!-- Add Javascript custom to this tempate here... -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- for filter -->
    <script>
        // persist breed and species in filter
        $(document).ready(function() {
            $("#filter_button").click(function () {
                sessionStorage.setItem('species', $('#species').val()) 
                sessionStorage.setItem('breed', $('#breed').val()) 
                species_val = $('#species').val()
                breed_val = $('#breed').val()
                the_message =JSON.stringify({breed: breed_val, species: species_val})
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/adopt_profiles",
                    data: the_message}).done(function (data) {
                        window.location = '/adopt_profiles'
                        // console.log(data)  // display the returned data in the console.
                        $('#species').val(sessionStorage.getItem('species'))
                        $('#breed').val(sessionStorage.getItem('breed'))
                })
            });
            // load values stored in session
            window.onload = function() {
                $('#species').val(sessionStorage.getItem('species'))
                // call this function to update breeds on page reload
                updateBreeds()

                // breed listed after breed has been updated on page so
                // it is not listed as "any"
                $('#breed').val(sessionStorage.getItem('breed'))
            }
        });  
    </script>

    <!-- script to change breed based on type when a change event occurs --> 
    <!-- Is the script application-form.js necessary for updateBreeds -->
    <!-- <script src="../static/js/Application-Form.js?v=1"></script> -->
    <script>
        var allBreeds = {{ breeds|tojson }}
        function updateBreeds() {
            // type gets elementbyid for species to have it work with filter js
            var type = document.getElementById("species").value;
            var breed = document.getElementById("breed");
            breed.options.length = 1;

            // Add if else to update to rebuild breed when Any type is selected as option
            if (type == "Any"){
                for (var i = 0; i<allBreeds.length; i++){
                        var option = document.createElement("option");
                        option.value = allBreeds[i].name;
                        option.name = allBreeds[i].name;
                        option.id = allBreeds[i].name;
                        option.innerHTML = allBreeds[i].name;
                        breed.appendChild(option);
                }
            }
            else {
                for (var i = 0; i<allBreeds.length; i++){
                    if (allBreeds[i].type == type){
                        var option = document.createElement("option");
                        option.value = allBreeds[i].name;
                        option.name = allBreeds[i].name;
                        option.id = allBreeds[i].name;
                        option.innerHTML = allBreeds[i].name;
                        breed.appendChild(option);
                    }
                }
            }
        }
    </script>
{% endblock %}


