<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap Studio CSS -->
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
        <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" href="../static/css/Table-with-search--sort-filters.css">
        <!-- Personalized CSS -->
        <link rel="stylesheet" href="../static/css/stylesheet.css">

    {% endblock %}
</head>
    <body>
        <div class="navbar">
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav" style="padding-right: 8px;padding-left: 8px;">
                <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" style="height: 50px;margin: 0px 0px 0px 0px;">My Next Pet</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav navbar-nav ml-auto" style="margin: 0px;">
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">Home</a></li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Favorites</a></li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">My Applications</a></li>
                            <li class="nav-item dropdown" aria-expanded="false" style="vertical-align:baseline"><a class="dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded" data-toggle="dropdown" aria-expanded="false" href="#" style="text-align: left; vertical-align:baseline">Admin</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="/admin_profiles">Profiles</a><a class="dropdown-item" href="admin_profiles.html">Applications</a></div>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1" style="margin: 7px;font-size: 14px;"><button class="btn btn-primary" type="button"><strong>LOGOUT</strong></button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <main>
            <div class="padding-2" id="content">{% block header %}{% endblock %}</div>
            <div class="padding-2" id="content">{% block content %}{% endblock %}</div>
        </main>
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright ©&nbsp;My Next Pet 2021</small></div>
        </div>
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/freelancer.js"></script>
        <script src="../static/js/Application-Form.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
        <script src="../static/js/Table-with-search--sort-filters.js"></script>
    </body>
</html>
