{% extends "nav.html" %}

{% block header %}
    {% block title %} News {% endblock %}
    {% block html_head %}
        <!-- Add CSS custom to this tempate here... -->
        <!-- J add -->
        <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="static/css/styles.min.css">
    {% endblock %}
    <!-- Add additional custom headers here... -->

    <div>
        <header class="text-center" style="padding-top:120px;font-size: 12px;height:175px" overflow="auto">
            <div class="container">  
                <!-- <h1 style="font-size: 30px;">News</h1> -->
                <h1 class="container">What We've Been Up To</h1>
            </div>
        </header>
    </div>
{% endblock %}      <!-- Endblock for header -->

{% block content %}
    <!-- Add page content here... -->
    <!-- <div>
        <p>Content TBD...</p>
    </div> -->
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <!-- <div class="block-heading">
                <h2 class="text-info">What We've Been Up To</h2>
                <p>Latest news about us and fur kids</p>
            </div> -->
            <div class="block-content">
                {% for post in news %}
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-5"><img class="rounded img-fluid" src="{% if post.image_name %} https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/{{post.image_name}} {% endif %}">
                        </div>
                        <div class="col-lg-7">
                            <h3>{{ post.title }}</h3>
                            <div class="info">
                                <span class="text-muted">{{ post.created }} by&nbsp; {{ post.author }}</span>
                            </div>
                            <p>{{ post.content }}</p>
                            <!--
                            <a class="btn btn-outline-primary btn-sm" role="button" href="/news_post">Read More</a>
                            -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <!-- Add Javascript custom to this tempate here... -->
{% endblock %}

