{% extends "nav.html" %}

{% block header %}
    {% block title %} Rescue Paws Pet Profile {% endblock %}
    {% block html_head %}
        <!-- Add CSS custom to this tempate here... -->
        <!-- J add -->
        <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
        <link rel="stylesheet" href="../static/css/styles.min.css">
    {% endblock %}
    <!-- Add additional custom headers here... -->

    <div>
        <header class="text-center" style="padding-top:120px;font-size: 12px;height:175px" overflow="auto">
            <div class="container">
                <!-- Header reflects status depending on availability -->
                {% if pet_data.availability == "Adopted" %}
                    <h1 style="font-size: 30px;">{{ pet_data.availability }}</h1>
                {% else %}
                    <h1 style="font-size: 30px;">{{ pet_data.availability }} for Adoption</h1>
                {% endif %}
            </div>
        </header>
    </div>
{% endblock %}     <!-- Endblock for header -->

{% block content %}
    <!-- <main class="page product-page"> -->
        <section class="clean-block clean-product dark">
            <div class="container">

                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- How to view image stored in Google Cloud Storage bucket https://storage.googleapis.com/BUCKET_NAME/OBJECT_NAME -->
                                <!-- Debug later. JS issue in script.min.js logic that broke when html was moved to templates folder for render_template -->
                                <!-- Temp will be single image -->
                                <!-- <div class="gallery">
                                    <div class="sp-wrap">
                                        <a href="../static/img/dogs/Sugar/Sugar-01.jpeg"><img class="img-fluid d-block mx-auto" src="../static/img/dogs/Sugar/Sugar-01.jpeg"></a>
                                        <a href="../static/img/dogs/Sugar/Sugar-02.jpeg"><img class="img-fluid d-block mx-auto" src="../static/img/dogs/Sugar/Sugar-02.jpeg"></a>
                                        <a href="../static/img/dogs/Sugar/Sugar-03.jpeg"><img class="img-fluid d-block mx-auto" src="../static/img/dogs/Sugar/Sugar-03.jpeg"></a>
                                    </div>
                                </div> -->
                                <!-- <div class="gallery">
                                    <div class="sp-wrap">
                                        <a href="https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/Hope-01gyyycvzm.jpeg"><img class="img-fluid d-block mx-auto" src="https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/Hope-01gyyycvzm.jpeg"></a>
                                        <a href="https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/Hope-01gyyycvzm.jpeg"><img class="img-fluid d-block mx-auto" src="https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/Hope-01gyyycvzm.jpeg"></a>
                                        <a href="https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/Hope-01gyyycvzm.jpeg"><img class="img-fluid d-block mx-auto" src="https://storage.googleapis.com/datingappforanimaladoption.appspot.com/uploads/Hope-01gyyycvzm.jpeg"></a>
                                    </div>
                                </div> -->
                                <!-- Make own class to resize photo until sp-wrap debugged-->
                                <div>
                                    <figure class="figure"><img class="img-fluid figure-img" src="{{ pet_data.profile_image_name }}"></figure>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3>{{ pet_data.name }}</h3>
                                    <p>{{ pet_data.breed }}<i class="fas fa-circle"></i>{{ pet_data.location }}
                                        <br>{{ pet_data.age }} <i class="fas fa-circle"></i>{{ pet_data.gender }}</p>
                                    <!-- <div class="rating"><img src="../static/img/star.svg"><img src="static/img/star.svg"><img src="static/img/star.svg"><img src="static/img/star-half-empty.svg"><img src="static/img/star-empty.svg"></div> -->

                                    <!-- <div class="price">
                                        <h3>$300.00</h3>
                                    </div> -->
                                    <button class="btn btn-primary" type="button"><i class="icon ion-ios-paw"></i>More Info</button>
                                    <div class="summary">
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec augue nunc, pretium at augue at, convallis pellentesque ipsum. Vestibulum diam risus, sagittis at fringilla at, pulvinar vel risus. Vestibulum dignissim eu nulla eu imperdiet. Morbi mollis tellus a nunc vestibulum consequat. Quisque tristique elit et nibh dapibus sodales. Nam sollicitudin a urna sed iaculis.</p> -->
                                        <p>{{ pet_data.description }}</p>
                                        <p>{{ pet_data.properties }}</p>
                                        <p>{{ pet_data.status }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show description" role="tabpanel" id="description">
                                    <p>{{ pet_data.description }}</p>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                    <div class="row">
                                        <div class="col-md-5">
                                            <!-- Make src dynamic with jinja -->
                                            <figure class="figure"><img class="img-fluid figure-img" src="{{ pet_data.profile_image_name }}"></figure>
                                        </div>
                                        <div class="col-md-7">
                                            <h4>Good In A Home With:</h4>
                                            <p>{{ pet_data.properties }}</p>
                                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 right">
                                            <h4>Status PR Blurb</h4>
                                            <p>{{ pet_data.status }}</p>
                                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                        </div>
                                        <div class="col-md-5">
                                            <!-- Make src dynamic with jinja -->
                                            <figure class="figure"><img class="img-fluid figure-img" src="{{ pet_data.profile_image_name }}"></figure>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- </main> -->
  

    {% endblock %}

{% block script %}
    <!-- Add Javascript custom to this tempate here... -->
{% endblock %}