{% extends "base_parent.html" %}
{% block title %} Rescue Paws Service {% endblock %}

    {% block content %}
    <main class="page service-page">
        <section class="clean-block clean-services dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Service Page</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="static/img/scenery/image5.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                            </div>
                            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="static/img/scenery/image6.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                            </div>
                            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="static/img/scenery/image1.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                            </div>
                            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="static/img/scenery/image1.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                            </div>
                            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="static/img/scenery/image5.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                            </div>
                            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="static/img/scenery/image6.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Lorem Ipsum</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                            </div>
                            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}